---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { works } from "../components/works.astro";
import { Icon } from "astro-icon";
import Picture from "../components/Picture.astro";

const filteredWorks = works.filter((work) => work.title != "Hanami Blog");

const folder = "hanami-blog";

const images = [
    {
        name: "hanami-blog-1",
        alt: "Schermata dell'homepage di Hanami Blog su desktop",
    },
    {
        name: "hanami-blog-2",
        alt: "Schermata dell'homepage di Hanami Blog su mobile",
    },
    {
        name: "hanami-blog-3",
        alt: "Schermata di Hanami Blog",
    },
    {
        name: "hanami-blog-4",
        alt: "Close-up di due elementi accessibili",
    },
];
---

<Layout
    title="Hanami Blog - Federica Ercole Portfolio"
    index="index"
    description="Case study di Hanami Blog, un sito dedicato a chi studia la lingua giapponese"
>
    <main id="main" class="page">
        <article class="wrapper">
            <div class="page-intro">
                <h1>Hanami Blog</h1>
                <a href="https://hanamiblog.net" class="highlight-link">
                    Vai al sito
                    <Icon name="jam:arrow-right" aria-hidden="true" />
                </a>
            </div>
            <p>
                Un sito, nato quasi per caso, per parlare della mia esperienza
                con lo studio del giapponese da autodidatta. Nonostante il nome
                contenga il termine "blog", con gli anni è diventato qualcosa di
                più: un <strong
                    >punto di riferimento per chi studia questa lingua</strong
                >.
            </p>
            <p>
                Proprio per la sua natura di blog, la scelta più naturale era
                utilizzare <a href="https://wordpress.org/">WordPress</a>, che
                garantisce una certa flessibilità e una certa facilità d'uso nel
                gestire il back-end.
            </p>
            <h2>Grafica e UI</h2>
            <p>
                Negli anni la grafica e, più in generale, la struttura del sito
                hanno subito diversi cambiamenti. Nella grafica attuale ho
                deciso di mantenere i colori precedenti: l'arancio e un rosa
                molto scuro, quasi rosso.
            </p>
            <p>
                Ho scelto questi colori perché non volevo usare i soliti colori
                associati al Giappone e volevo comunicare un senso di leggerezza
                per lo studio della lingua. In particolare il rosa è stato
                scelto per simboleggiare i fiori di ciliegio ("Hanami" significa
                "osservare i fiori di ciliegio").
            </p>
            <p>
                La <strong>struttura dell'interfaccia</strong> è quella classica
                di un blog con un homepage che presenta tutti gli articoli. A differenza
                dei blog che presentano molti link per le categorie e i tag, ho scelto
                di <strong
                    >snellire il più possibile la navigazione e la sidebar</strong
                >, in modo tale da mostrare principalmente le pagine più utili.
            </p>
            <div class="image-grid">
                <figure class="medium">
                    <Picture
                        alt={images[0].alt}
                        folder={folder}
                        image={images[0].name}
                    />
                    <figcaption>Come appare l'homepage su desktop</figcaption>
                </figure>
                <figure class="mini bottom-caption">
                    <Picture
                        alt={images[1].alt}
                        folder={folder}
                        image={images[1].name}
                    />
                    <figcaption>Come appare l'homepage su mobile</figcaption>
                </figure>
            </div>
            <h2>Dettagli tecnici</h2>
            <p>
                Il tema attuale non deriva da alcun tema esistente e non fa uso
                di blocchi. Pur esistendo una gran varietà di temi per
                WordPress, ho deciso di crearlo da zero per mettermi alla prova
                e cercare di costruire qualcosa di unico.
            </p>
            <p>
                Ho posto particolare attenzione all'uso dei corretti tag HTML
                per rendere la pagina il più possibile accessibile anche a chi
                usa uno screen reader o naviga attraverso la tastiera.
            </p>
            <div class="image-grid">
                <figure class="big">
                    <Picture
                        alt={images[2].alt}
                        folder={folder}
                        image={images[2].name}
                    />
                    <figcaption>
                        Esempio di un articolo su Hanami Blog
                    </figcaption>
                </figure>
                <figure class="big">
                    <Picture
                        alt={images[3].alt}
                        folder={folder}
                        image={images[3].name}
                    />
                    <figcaption>
                        Due esempi di elementi accessibili del sito: il link per
                        saltare la navigazione e l'accordion
                    </figcaption>
                </figure>
            </div>
            <p>
                Alcune funzionalità del sito sono state implementate tramite
                plugin, tra cui il form dei contatti e il banner dei cookie.
            </p>

            <h2>Cosa ho imparato da questo progetto</h2>
            <p>
                Posso dire che è il progetto che mi ha aiutato di più a
                migliorare le mie conoscenze. In particolare ho imparato a:
            </p>
            <ul>
                <li>
                    strutturare il sito in modo tale da rendere facile la
                    navigazione
                </li>
                <li>
                    installare ed utilizzare Google Analytics e, in misura
                    minore, Tag Manager
                </li>
                <li>fare attenzione alla SEO</li>
                <li>fare attenzione alla sicurezza del sito</li>
                <li>scrivere articoli e gestire una newsletter</li>
                <li>
                    scrivere ebook, impaginarli e gestirne la vendita tramite
                    servizi di terze parti
                </li>
                <li>
                    comprendere meglio il funzionamento WordPress e la struttura
                    dei temi
                </li>
            </ul>
        </article>
    </main>
    <aside class="wrapper">
        <h2>Altri progetti</h2>
        {filteredWorks.map((work) => <Card work={work} />)}
    </aside>
</Layout>
