---
export interface Props {
	work: {
		title: string;
		subtitle: string;
		desc: string;
		slug: string;
		alt: string;
	};
}

const { title, subtitle, desc, slug, alt } = Astro.props.work;
import { Icon } from "astro-icon";
---

<article class="work">
	<div class="work-desc">
		<h3>
			<a href=`/${slug}` class="highlight-link">
				{title}
				<Icon name="jam:arrow-right" aria-hidden="true" />
			</a>
		</h3>
		<h4>{subtitle}</h4>
		<p>{desc}</p>
	</div>
	<div class="container">
		<a href=`/${slug}` tabindex="-1" aria-hidden="true">
			<img
				alt={alt}
				src=`/images/${slug}-cover.png`
				srcset=`/images/${slug}-cover.png 1x,
			/images/${slug}-cover-big.png 2x`
			/>
		</a>
	</div>
</article>
