---
export interface Props {
	title: string;
	subtitle: string;
	desc: string;
	containerClass: string;
	alt: string;
}

const { title, subtitle, desc, containerClass, alt } = Astro.props;
import { Icon } from "astro-icon";
---

<div class="work">
	<div class="work-desc">
		<h3>
			<a href="">
				{title}
				<Icon name="jam:arrow-right" aria-hidden="true" />
			</a>
		</h3>
		<h4>{subtitle}</h4>
		<p>{desc}</p>
	</div>
	<div class=`container ${containerClass}`>
		<img
			alt={alt}
			src=`../src/assets/images/${containerClass}-cover.png`
			srcset=`../src/assets/images/${containerClass}-cover.png 1x,
			../src/assets/images/${containerClass}-cover-big.png 2x`
		/>
	</div>
</div>
