---
const { image, folder, alt } = Astro.props;
---

<a href={`/images/${folder}/${image}-big.jpg`}>
    <picture>
        <source
            type="image/webp"
            srcset=`/images/${folder}/${image}.webp 1x,
        /images/${folder}/${image}-big.webp 2x`
        />
        <img
            src=`/images/${folder}/${image}.jpg`
            srcset=`/images/${folder}/${image}.jpg 1x,
    /images/${folder}/${image}-big.jpg 2x`
            alt=`${alt}`
            loading="lazy"
        />
    </picture>
</a>
