---
const { image, folder, alt } = Astro.props;
---

<a href={`../src/assets/images/${folder}/${image}-big.jpg`}>
    <picture>
        <source
            type="image/webp"
            srcset=`../src/assets/images/${folder}/${image}.webp 1x,
        ../src/assets/images/${folder}/${image}-big.webp 2x`
        />
        <img
            src=`../src/assets/images/${folder}/${image}.jpg`
            srcset=`../src/assets/images/${folder}/${image}.jpg 1x,
    ../src/assets/images/${folder}/${image}-big.jpg 2x`
            alt=`${alt}`
        />
    </picture>
</a>
